<h1><%= @user.name %> (<%= @user.phone_number %>)</h1>

<h3>My Books</h3>
<table class="table">
	<thead>
    <tr>
     	<th>번호</th>
      <th>책제목</th>
      <th>태그</th>
      <th>상태</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
  	<% @user.books.each do |book| %>
  		<tr>
  			<td><%= book.id %></td>
    		<td><%= link_to book.title, book %></td>
    		<td><%= book.tag_list %></td>
    		<td>
          <% if book.available? %>
            데이트 가능
          <% else %>
            데이트 중
          <% end %>
        </td>
  		</tr>
  	<% end %>
  </tbody>

	</table>
	

<h3>Meeting Records</h3>

	<table class="table">
		<thead>
    	<tr>
     		<th>번호</th>
      	<th>태그</th>
      	<th>시작일</th>
      	<th>마감일</th>
      	<th colspan="3"></th>
    	</tr>
  	</thead>
  
  <tbody>
  	<% @user.meetings.each do |meeting| %>
  		<tr>
  			<td><%= meeting.book.id %></td>
    		<td><%= link_to meeting.book.tag_list, meeting.book %></td>
    		<td><%= meeting.start_datetime %></td>
    		<td><%= meeting.end_datetime %></td>
  		</tr>
  	<% end %>
  </tbody>

	</table>
	
